<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>JSP</display-name>
<!-- 	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>controller.AddServletController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>sd</servlet-name>
		<servlet-class>controller.CommitServletController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sd</servlet-name>
		<url-pattern>/sd</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>value1</param-name>
		<param-value>12</param-value>
	</context-param>
	<context-param>
		<param-name>value2</param-name>
		<param-value>13</param-value>
	</context-param>

	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>controller.ContextServlet</servlet-class>
		<init-param>
			<param-name>init</param-name>
			<param-value></param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>context</servlet-name>
		<url-pattern>/context</url-pattern>
	</servlet-mapping> -->
</web-app>